@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: #ffff;
  background: linear-gradient(90deg, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);
}
button{
  color: white;
  padding: 5px 25px;
  margin: 10px;
  font-size: 24px;
  text-transform: uppercase;
  width: 250px;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(90deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);
  border: none;
}

